<launch>


<!-- map to odom
takes in amcl and other global pose estimates
hector mapping, navsat, gps publishes tf-->


<!-- <node pkg="robot_localization" type="ekf_localization_node"
      name="robot_localization_ekf_node_odom"
      clear_params="true">
  <param name="frequency" value="10." />
  <param name="sensor_timeout" value="0.2" />
  <param name="transform_time_offset" value="0.1" />
  <param name="two_d_mode" value="true" />
  <param name="publish_tf" value="true" />
  <param name="map_frame" value="map" />
  <param name="odom_frame" value="odom" />
  <param name="base_link_frame" value="base_link" />
  <param name="world_frame" value="map" />
  <remap from="odometry/filtered" to="odometry/filtered_map" />

  <param name="pose0" value="/poseupdate" />
  <rosparam param="pose0_config">[true,  true,  false,
                                false, false, false,
                                false, false, false,
                                false, false, false,
                                false, false, false]</rosparam>
  <param name="pose0_differential" value="false"/>

  <param name="odom0" value="/odometry/gps" />
  <rosparam param="odom0_config">[true,  true,  false,
                                false, false, false,
                                false, false, false,
                                false, false, false,
                                false, false, false]</rosparam>
  <param name="odom0_differential" value="false"/>

  <param name="twist0" value="/vel" />
  <param name="imu0" value="/imu" />
  <param name="twist0_differential" value="false"/>
  <rosparam param="twist0_config">[false, false, false, 
                                   false, false, false, 
                                   true, false, false, 
                                   false, false, true, 
                                   false, false, false]
  </rosparam>

  <rosparam param="imu0_config">[false, false, false,
                                 false, false, true,
                                 false, false, false,
                                 false, false, false,
                                 false, false, false]
  </rosparam>
  <param name="imu0_differential" value="false"/>
  <param name="imu0_relative" value="false"/>

</node> -->


<!-- odom to baselink
takes in encoders, imu, laser scan, etc
publishes odom -->


<node pkg="robot_localization" type="ekf_localization_node"
      name="robot_localization_ekf_node_gps"
      clear_params="true">
  <param name="frequency" value="10." />
  <param name="sensor_timeout" value="0.2" />
  <param name="transform_time_offset" value="0.1" />
  <param name="two_d_mode" value="true" />
  <param name="publish_tf" value="true" />
  <param name="map_frame" value="map" />
  <param name="odom_frame" value="odom" />
  <param name="base_link_frame" value="base_link" />
  <param name="world_frame" value="odom" />
  <remap from="odometry/filtered" to="odometry/filtered_odom" />
  <param name="twist0" value="/vel" />
  <param name="twist0_differential" value="false"/>
  <rosparam param="twist0_config">[false, false, false, 
                                   false, false, false, 
                                   true, false, false, 
                                   false, false, true, 
                                   false, false, false]
  </rosparam>

  <param name="imu0" value="/imu" />
  <rosparam param="imu0_config">[false, false, false,
                                 false, false, true,
                                 false, false, false,
                                 false, false, false,
                                 false, false, false]
  </rosparam>
  <param name="imu0_differential" value="false"/>
  <param name="imu0_relative" value="false"/>

  <param name="odom0" value="/scanmatch_odom" />
  <rosparam param="odom0_config">[true,  true,  false,
                                false, false, true,
                                false, false, false,
                                false, false, false,
                                false, false, false]</rosparam>
  <param name="odom0_differential" value="false"/>

</node>


<!-- 
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
    <param name="magnetic_declination_radians" value="0"/>
    <param name="yaw_offset" value="0"/>
    <rosparam param="datum">[41.2230, 111.9738, 0.0, map, base_link]</rosparam>
    <remap from="/imu/data" to="/imu" />
    <remap from="/gps/fix" to="/odometry/gps" />
    <remap from="/odometry/filtered" to="/odometry/filtered_map" />
    <param name="publish_filtered_gps" value="true"/>
  </node> -->

</launch> 
