<launch>


   <!-- Sets static transforms -->
  <include file="$(find ros_robot)/launch/tf.launch" />

  <!-- Controls the wheels and provides encoder feedback  -->
  <include file="$(find ros_robot)/launch/arduino.launch" />


   <!-- Uses Extended Kalman Filter to provide Map to Odom and Odom to Base Link -->
  <!-- <include file="$(find ros_robot)/launch/localization.launch" /> -->
  <include file="$(find ros_robot)/launch/localization_copy.launch" />
  <include file="$(find ros_robot)/launch/gps.launch" />
  <!-- <include file="$(find ros_robot)/launch/jetson_csi_cam.launch" /> -->
  
  <!-- Launches lidar node and hector slam files -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <include file="$(find ros_robot)/launch/hector.launch" />

  <node name="odomnode" pkg="ros_robot" type="odompub.py" output="screen" >
  </node>

</launch>
